/*SECTION ONE: SITEWIDE STYLING*/

/*Font Import*/

@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Lato:wght@700&family=Open+Sans&display=swap');

/*Header Styling*/

header {
    margin: 0;
    height: 5em;
    clear: both;
    padding: 1em 1em 0.5em 1em;
}

    header div#brandHeader {
        width: 73%;
        height: 100%;
        float: left;
    }

        header div#brandHeader div#logo {
            height: 100%;
            width: 5em;
            background-color: white;
            float: left;
            display: inline-block;
        }

            header div#brandHeader div#logo img {
                height: 100%;
                width: 5em;
                float: left;
            }

        header div#brandHeader div#brandingText {
            width: 60%;
            height: 100%;
            float: left;
            margin-left: 1em;
            display: inline-block;
        }

            header div#brandHeader div#brandingText h1 {
                font-family: 'Cardo', serif;
                font-size: 3.1em;
                color: white;
                margin: 0;
                height: 63%;
                width: 80%;
                font-weight: normal;
            }

            header div#brandHeader div#brandingText p {
                font-family: 'Cardo', serif;
                font-style: italic;
                font-size: 1.5em;
                color: white;
                height: 33%;
                margin: 0;
                width: 80%;
            }

    header div#socialMediaHeader {
        width: 25%;
        height: 100%;
        float: right;
        margin: 0;
    }

        header div#socialMediaHeader div.socialMediaIcon {
            float: right;
            width: 33%;
            height: 100%;
            margin: 0;
        }

            header div#socialMediaHeader div.socialMediaIcon a.socialMediaLink {
                font-size: 2em;
                text-decoration: none;
                width: 100%;
            }

#twitter {
    color: #1da1f2;
}

#linkedin {
    color: #0a66c2;
}

#facebook {
    color: #1877f2;
}


/*Navbar Styling*/

nav ul {
    padding: 0;
    height: 2.5em;
    width: 100%;
    margin: 1em 0 1em 0;
}

    nav ul li {
        display: inline-block;
        border-radius: 35px;
        width: 8em;
        height: 100%;
        margin: 0em 1em 0em 1em;
        background-image: linear-gradient(rgba(74, 94, 101, 0.35), rgba(74, 94, 101, 0.35));
    }

        nav ul li#currentPage {
            background-color: rgba(74, 94, 101, 0.65);
        }

            nav ul li#currentPage a:hover {
                color: #E6E6E6;
            }

        nav ul li a {
            display: block;
            padding: 0.3em;
            height: 100%;
            box-sizing: border-box;
            text-align: center;
            text-decoration: none;
            font-family: 'Cardo', serif;
            color: #BBBBBB;
            font-size: 1.25em;
        }

            nav ul li a:hover {
                color: #FFFFFF;
            }

            nav ul li a:hover, nav a:active, nav a:focus {
                text-decoration: none;
            }

/*Main Styling*/

main {
    overflow: hidden;
    padding: 1em;
}

body {
    font-size: 100%;
    margin: 3em;
    background-image: linear-gradient(rgba(16, 20, 26, 0.7), rgba(16, 20, 26, 0.7)), url(/images/pexels-cottonbro-3826435.jpg);
    background-size: cover;
}

main h1 {
    font-family: 'Cardo', serif;
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
}

main h2 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.75em;
    color: #9E1B32;
}

main h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.875em;
    color: #9E1B32;
}

/*Footer Styling*/


footer {
    border-top: 0.01em solid #555555;
    padding: 1em 1em 0.5em 1em;
    clear: both;
    overflow: hidden;
}

    footer div {
        height: 100%;
    }

        footer div div#socialMediaFooter {
            float: right;
            width: 25%;
            font-size: 1em;
            height: 100%;
        }

        footer div.socialMediaIcon {
            display: inline;
            float: right;
            height: 100%;
            width: 33%;
            font-size: 2em;
            clear: none;
            margin: 0.01em;
        }

        footer div div#socialMediaFooter a.socialMediaLink {
            font-size: 0.9em;
            text-decoration: none;
        }

    footer #twitterFooter, footer #linkedinFooter, footer #facebookFooter {
        color: #828A8F;
    }

    footer div div#copyright {
        display: inline;
        float: left;
        width: 73%;
    }

        footer div div#copyright p {
            font-family: 'Open Sans', sans-serif;
            color: #828A8F;
            font-size: 1em;
            width: 100%;
            display: inline-block;
        }

/*index.html Styling*/

section#aboutUs {
    overflow: hidden;
}

    section#aboutUs div#aboutUsImage {
        width: 33%;
        float: left;
        height: 100%;
        padding: 2em;
        box-sizing: border-box;
    }

        section#aboutUs div#aboutUsImage img {
            height: 100%;
            width: 100%;
        }

div#aboutUsText {
    width: 66%;
    float: right;
    box-sizing: border-box;
    padding: 2em;
}

    div#aboutUsText p {
        font-family: 'Open Sans', sans-serif;
        color: #828A8F;
        font-size: 1em;
    }

section#whyChooseUs {
    clear: both;
}

    section#whyChooseUs article {
        clear: both;
        overflow: hidden;
    }

        section#whyChooseUs article div#whyChooseUsImg1 {
            width: 49%;
            float: left;
            padding: 2em;
            box-sizing: border-box;
        }

            section#whyChooseUs article div#whyChooseUsImg1 img {
                height: 100%;
                width: 100%;
            }

        section#whyChooseUs article div#whyChooseUsTxt1 {
            width: 49%;
            float: right;
            box-sizing: border-box;
            padding: 2em;
        }

        section#whyChooseUs article div#whyChooseUsImg2 {
            width: 49%;
            float: right;
            padding: 2em;
            box-sizing: border-box;
        }

            section#whyChooseUs article div#whyChooseUsImg2 img {
                height: 100%;
                width: 100%;
            }

        section#whyChooseUs article div#whyChooseUsTxt2 {
            width: 49%;
            float: left;
            box-sizing: border-box;
            padding: 2em;
        }

        section#whyChooseUs article div p {
            font-family: 'Open Sans', sans-serif;
            color: #828A8F;
            font-size: 1.25em;
        }

/*Classes.html Styling*/

section#classSubjects {
    margin: 0 auto;
    text-align: center;
}

article.classTopic {
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
    margin: 1em;
    padding: 1em;
    text-align: left;
    background-color: rgba(52, 70, 81, 0.8);
}

    article.classTopic:hover {
        border: 1px solid #9E1B32;
    }

    article.classTopic img {
        height: 100%;
        width: 100%;
    }

    article.classTopic h2 {
        font-family: 'Cardo', serif;
        font-size: 1.5em;
        color: #FFFFFF;
        font-weight: normal;
    }

    article.classTopic p {
        font-family: 'Open Sans', sans-serif;
        color: #DDDDDD;
        font-size: 1.15em;
    }


/*Team.html Styling*/

section.departmentSection {
    float: left;
    overflow: hidden;
    width: 75%;
}

section.departmentSection h1 {
    clear: both;
}

article.teamBio {
    clear: both;
    overflow: hidden;
    box-sizing: border-box;
    margin: 2em;
    padding: 1em;
}

article.teamBio p {
    font-family: 'Open Sans', sans-serif;
    color: #828A8F;
    font-size: 1.15em;
    padding: 1em;
    float: right;
    display: inline-block;
    width: 65%;
    height: 100%;
}

article.teamBio img {
    float: left;
    height: 100%;
    width: 25%;
}

aside {
    float: right;
    overflow: hidden;
    width: 24%;
    background-color: rgba(52, 70, 81, 0.5);
    border-radius: 1em;
    padding: 1.5em;
    box-sizing: border-box;
    height: 100%;
}

aside h2#byDepartment {
    font-family: 'Cardo', serif;
    font-weight: normal;
    font-size: 1.25em;
    color: #DDDDDD;
    margin: 0;
}

aside ul {
    margin: 0;
    height: 100%;
}

    aside ul li {
        margin: 0.25em;
        color: #999999;
    }

        aside ul li a {
            font-family: 'Cardo', serif;
            color: #AAAAAA;
            font-weight: normal;
            font-size: 1.2em;
        }

        aside ul li a:hover {
            color: #FFFFFF;
        }

/*Contact Boxes WIP*/
div.contactBox {
    width: 40%;
    margin: 0 auto;
    font-size: 1.3em;
    border-top: 2px solid black;
    padding: 0.5em;
    border-left: 8px solid black;
    background-color: rgba(52, 70, 81, 0.5);
}

    div.contactBox p {
        font-family: 'Open Sans', sans-serif;
        color: #DDDDDD;
        margin: 0;
    }

    div.contactBox p a {
        color: #1877f2;
        font-style: italic;
    }
