/*SECTION ONE: SITEWIDE STYLING*/

/*Font Import*/

@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Lato:wght@700&family=Open+Sans&display=swap');

/*Header Styling*/

header {
    padding: 1em 1em;
    clear: both;
    overflow: hidden;
}

    header div#brandHeader {
        width: 73%;
        height: 100%;
        float: left;
        overflow: hidden;
    }

        header div#brandHeader div#logo {
            height: 100%;
            width: 6em;
            float: left;
            display: inline-block;
        }

            header div#brandHeader div#logo img {
                height: 6em;
                width: 6em;
                float: left;
            }

        header div#brandHeader div#brandingText {
            height: 100%;
            margin: 0 0 0 1em;
            display: inline-block;
        }

            header div#brandHeader div#brandingText h1 {
                font-family: 'Cardo', serif;
                font-size: 3em;
                color: white;
                margin: 0;
                height: 63%;
                width: 100%;
                font-weight: normal;
            }

            header div#brandHeader div#brandingText p {
                font-family: 'Cardo', serif;
                font-style: italic;
                font-size: 1.5em;
                color: white;
                height: 33%;
                margin: 0;
                width: 100%;
            }

    header div#socialMediaHeader {
        width: 25%;
        height: 100%;
        float: right;
        margin: 0;
    }

        header div#socialMediaHeader div.socialMediaIcon {
            float: right;
            width: 33%;
            height: 100%;
            margin: 0;
            text-align: right;
        }

            header div#socialMediaHeader div.socialMediaIcon a.socialMediaLink {
                font-size: 2em;
                text-decoration: none;
                width: 100%;
                overflow: hidden;
            }

#twitter {
    color: #1da1f2;
}

    #twitter:hover {
        color: #FFFFFF;
    }

#linkedin {
    color: #0a66c2;
}

    #linkedin:hover {
        color: #FFFFFF;
    }

#facebook {
    color: #1877f2;
}

    #facebook:hover {
        color: #FFFFFF;
    }


/*Navbar Styling*/



nav ul {
    padding: 1em 1em;
    height: 2.5em;
    width: 100%;
}

    nav ul li {
        display: inline-block;
        border-radius: 35px;
        width: 20%;
        max-width: 12em;
        height: 100%;
        margin: 0 1em 0 0;
        background-image: linear-gradient(rgba(74, 94, 101, 0.35), rgba(74, 94, 101, 0.35));
        overflow: hidden;
    }

        nav ul li:hover {
            border: 1px solid #FFFFFF;
        }

        nav ul li#currentPage {
            background-color: rgba(74, 94, 101, 0.65);
        }

            nav ul li#currentPage a:hover {
                color: #E6E6E6;
            }

        nav ul li a {
            display: block;
            padding: 0.3em;
            height: 100%;
            box-sizing: border-box;
            text-align: center;
            text-decoration: none;
            font-family: 'Cardo', serif;
            color: #BBBBBB;
            font-size: 1.25em;
        }

            nav ul li a:hover {
                color: #FFFFFF;
            }

            nav ul li a:hover, nav a:active, nav a:focus {
                text-decoration: none;
            }

/*Main Styling*/

main {
    padding: 1em;
    overflow: hidden;
}

body {
    font-size: 100%;
    margin: 3em;
    background-image: linear-gradient(rgba(16, 20, 26, 0.7), rgba(16, 20, 26, 0.7)), url(/images/pexels-cottonbro-3826435.jpg);
    background-size: cover;
}

main h1 {
    font-family: 'Cardo', serif;
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
}

main h2 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.75em;
    color: #9E1B32;
}

main h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.875em;
    color: #9E1B32;
}

/*Footer Styling*/


footer {
    border-top: 0.01em solid #555555;
    padding: 1em 1em 0.5em 1em;
    clear: both;
    overflow: hidden;
}

    footer div {
        height: 100%;
    }

        footer div div#socialMediaFooter {
            float: right;
            width: 25%;
            font-size: 1em;
            height: 100%;
        }

        footer div.socialMediaIcon {
            display: inline;
            float: right;
            height: 100%;
            width: 33%;
            font-size: 2em;
            clear: none;
            margin: 0.01em;
        }

        footer div div#socialMediaFooter a.socialMediaLink {
            font-size: 0.9em;
            text-decoration: none;
        }

            footer div div#socialMediaFooter a.socialMediaLink:hover {
                color: #FFFFFF;
            }

    footer #twitterFooter, footer #linkedinFooter, footer #facebookFooter {
        color: #828A8F;
    }

    footer div div#copyright {
        display: inline;
        float: left;
        width: 73%;
    }

        footer div div#copyright p {
            font-family: 'Open Sans', sans-serif;
            color: #828A8F;
            font-size: 1em;
            width: 100%;
            display: inline-block;
        }

/*index.html Styling*/

section#aboutUs {
    overflow: hidden;
    width: 100%;
}

#aboutUsImage {
    padding: 1em;
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
    margin: auto 0;
    box-sizing: border-box;
}

    #aboutUsImage img {
        height: 100%;
        min-height: 212px;
        width: 100%;
        object-fit: cover;
        border-radius: 35%;
    }

#aboutUsText {
    width: 69%;
    float: right;
    padding: 1em;
    margin: auto;
    box-sizing: border-box;
}

    #aboutUsText p {
        font-family: 'Open Sans', sans-serif;
        color: #828A8F;
        font-size: 1.2em;
    }

    div#aboutUsText h3 {
        margin: 0;
    }

#whyChooseUs {
    clear: both;
}

    #whyChooseUs article {
        clear: both;
        overflow: hidden;
        height: 100%;
    }

        #whyChooseUsImg1 {
            width: 49%;
            float: left;
            padding: 2em;
            box-sizing: border-box;
        }

            #whyChooseUsImg1 img {
                height: 100%;
                width: 100%;
            }

        #whyChooseUsTxt1 {
            width: 49%;
            float: right;
            box-sizing: border-box;
            padding: 2em;
        }

        #whyChooseUsImg2 {
            width: 49%;
            float: right;
            padding: 2em;
            box-sizing: border-box;
        }

            #whyChooseUsImg2 img {
                height: 100%;
                width: 100%
            }

        #whyChooseUsTxt2 {
            width: 49%;
            float: left;
            box-sizing: border-box;
            padding: 2em;
        }

        #whyChooseUs p {
            font-family: 'Open Sans', sans-serif;
            color: #828A8F;
            font-size: 1.25em;
        }

/*Classes.html Styling*/

#classSubjects {
    margin: 0 auto;
    text-align: center;
}

.classTopic {
    width: 20%;
    display: inline-block;
    margin: 1em;
    padding: 1em;
    text-align: left;
    background-color: rgba(52, 70, 81, 0.65);
    border-radius: 3%;
}

    .classTopic:hover {
        border: 1px solid #FFFFFF;
    }

    .classTopic img {
        height: 100%;
        width: 100%;
    }

    .classTopic a {
        font-family: 'Lato', sans-serif;
        font-size: 1.5em;
        color: #BBBBBB;
        font-weight: normal;
        margin: 1em 0 1em 0;
        display: block;
    }

        .classTopic a:hover {
            color: #FFFFFF;
        }

    .classTopic p {
        font-family: 'Open Sans', sans-serif;
        color: #DDDDDD;
        font-size: 1em;
        margin: 1em 0 1em 0;
    }


#classTables {
    margin: 2em auto;
    text-align: center;
}

    #classTables h1 {
        font-size: 2em;
    }

    #classTables table {
        background-color: rgba(74, 94, 101, 0.35);
        margin: auto;
        width: 50%;
        border: 0;
        border-collapse: collapse;
    }

        #classTables table thead {
            background-color: rgba(52, 70, 81, 0.8);
        }

            #classTables table thead tr {
                color: #FFFFFF;
                font-family: 'Lato', sans-serif;
                font-weight: bold;
                font-size: 1em;
            }

                #classTables table thead tr th.tableTitle {
                    color: #FFFFFF;
                    font-family: 'Lato', serif;
                    font-weight: normal;
                    font-size: 1.75em;
                }

        #classTables table tbody tr td {
            color: #DDDDDD;
            font-family: 'Open Sans', sans-serif;
            border: 1px solid rgb(52, 70, 81);
            border-collapse: collapse;
        }

        #classTables table tfoot {
            background-color: rgba(52, 70, 81, 0.8);
            padding: 0.01em;
            height: 1.27em;
        }

            #classTables table tfoot tr td img {
                display: inline;
                float: left;
                height: 1.25em;
                width: 1.25em;
            }

            #classTables table tfoot tr td h3 {
                display: inline;
                float: left;
                font-family: 'Cardo', serif;
                font-size: 0.9em;
                color: #FFFFFF;
                margin: 0 0.2em 0 0.2em;
                font-weight: normal;
                text-decoration: none;
            }

            #classTables table tfoot tr td p {
                display: inline;
                float: left;
                font-family: 'Cardo', serif;
                font-style: italic;
                font-size: 0.9em;
                color: #FFFFFF;
                margin: 0;
            }

/*Team.html Styling*/

.departmentSection {
    float: left;
    overflow: hidden;
    width: 75%;
}

    .departmentSection h1 {
        clear: both;
    }

.teamBio {
    clear: both;
    overflow: hidden;
    box-sizing: border-box;
    margin: 2em;
    padding: 1em;
}

    .teamBio p {
        font-family: 'Open Sans', sans-serif;
        color: #828A8F;
        font-size: 1.15em;
        padding: 1em;
        float: right;
        display: inline-block;
        width: 65%;
        height: 100%;
    }

    .teamBio img {
        float: left;
        height: 12em;
        width: 12em;
        filter: grayscale(100%);
        object-fit: cover;
        border-radius: 50%;
    }

aside {
    float: right;
    overflow: hidden;
    width: 24%;
}

#sidenav {
    background-color: rgba(52, 70, 81, 0.5);
    border-radius: 1em;
    padding: 1.5em;
    box-sizing: border-box;
}

    #sidenav h2 {
        font-family: 'Cardo', serif;
        font-weight: normal;
        font-size: 1.25em;
        color: #DDDDDD;
        margin: 0;
    }

    #sidenav ul {
        margin: 0;
        height: 100%;
    }

        #sidenav ul li {
            margin: 0.25em;
            color: #999999;
        }

            #sidenav ul li a {
                font-family: 'Cardo', serif;
                color: #AAAAAA;
                font-weight: normal;
                font-size: 1.2em;
            }

                #sidenav ul li a:hover {
                    color: #FFFFFF;
                }


.contactBox {
    width: 40%;
    margin: 0 auto;
    font-size: 1.3em;
    padding: 0.5em;
    background-color: rgba(52, 70, 81, 0.65);
    border-radius: 3%;
}

    .contactBox p {
        font-family: 'Cardo', serif;
        color: #DDDDDD;
        margin: 0;
    }

        .contactBox p a {
            color: #1877f2;
            font-style: italic;
        }

        #contact {
            margin: 0 auto .5em auto;
        }